.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-contain {
  background-image: url('./assets/main/texture-ardoise-brossé.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.top-header-images {
  display: flex;
  justify-content: space-evenly;
}

.header-slogan {
  margin: 0;
}

.img-etagere {
  object-fit: contain;
  width: 100%;
}