.App {
  font-family: 'Gotham-Black', sans-serif;
}

.header-contain {
  background-image: url('./assets/main/texture-ardoise-brossé.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.top-header-images {
  display: flex;
  justify-content: space-evenly;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.contact-follow {
  margin: 0 0 25px 0;
}

.contact-link {
  display: inline-block;
}

.facebook-link {
  padding-left: 23px;
  display: inline-block;
}

.boutique-link {
  display: block;
  position: relative;
  left: 10px;
}

.header-title {
  text-indent: -9999px;
  overflow: hidden;
  margin: 0;
}

.header-slogan-container {
  display: flex;
  justify-content: center;
}

.header-slogan {
  margin: 0;
  font-size: 2.4em;
  font-weight: bold;
  width: 27%;
  text-align: center;
  color: #FFF;
}

.img-etagere {
  object-fit: contain;
  width: 100%;
}